@{
    ViewData["Title"] = "Home Page";
}


<ul>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Categories">Categories</a></li>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Products">Products</a></li>
</ul>

